<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]  // 添加 '$$' 和 '\(' '\)' 作为行内数学公式的识别标记
        },
        startup: {
          pageReady: () => {
            return MathJax.startup.defaultPageReady().then(() => {
              document.querySelectorAll("script[type='math/tex']").forEach((node) => {
                const text = node.textContent;
                const display = !!node.type.match(/; *mode=display/);
                const math = MathJax.tex2chtml(text, {display});
                node.parentNode.replaceChild(math, node);
              });
            });
          }
        }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/slides/">Slides</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/Research">Research</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:guyc0727@gmail.com">contact me</a></li>
   </ul>
  </footer>
  </body>

</html>
