<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js" async></script>

  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/slides/">Slides</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/Research">Research</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:guyc0727@gmail.com">contact me</a></li>
   </ul>
  </footer>
  </body>

</html>
